@import "~bootstrap/scss/bootstrap";
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

html, body{
    margin: 0;
    padding: 0;
}

.subNav{
    margin: 0;
    padding: 0;
}

a.navbar-brand{
    margin-left: 5px;
   
}

.header{
   color: red;
   flex-wrap: wrap;

    @media (max-width: 610px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}



.container{
    position: 0;
    padding: 0;
    margin: 0;
    max-width: 1440px;
}

button.search{
  background-color: $dark;
    padding: 5px 15px;
    border-radius: 0;
    margin:5px;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    @media (max-width: 426px){
       width: 95%;
       text-align: center;}
}

button.search:hover{ background-color: $primary}

div.g-4{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.offcanvas-body{
    color: $primary;
    background-color: white 0.4;
}
.offcanvas-header{color:$primary}

.card:hover{
    color: $primary;
    transform: scale(1.025);
    cursor: pointer;
}

.subNav{
    border-bottom: 1px solid $dark;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;

    
}

.modal-content{
    background-color: $dark;
    color: $light;
}



.img-fluid{
    width: 100%;
}
